.companies h1, .companies h2, .companies h3, .companies p, .companies th, .companies td {
    font-family: 'freight-sans-pro', 'Source Sans Pro', sans-serif;
    color: #172f6e;
}
.table-title {
    display: inline-block;
    vertical-align: middle;
}
.table-subtitle {
    display: inline-block;
    vertical-align: middle;
    font-weight: normal;
    margin-top: 5px;
}

.companies {
    max-width: 1000px;
    margin: auto;
}
.companies table {
    border-collapse:separate; 
    border-spacing: 0 1em;
}
.companies td {
    min-width: 150px;
    vertical-align: top;
}

.close-button {
    width: 20px;
    height: 20px;
    background-color: transparent;
    border-radius: 0;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 10px;
    float: right;
    opacity: .7;
}
.close-button:hover {
    opacity: .4;
}
.close-button img {
    width: 100%;
    height: 100%;
}

.label {
    font-weight: bold;
}

.column1 {
    width: 15%;
}
.column2 {
    width: 25%;
}
.column3 {
    width: 20%;
}
.column4 {
    width: 40%;
}