.container {
    text-align: center;
    margin-bottom: 60px;
}

.button {
    width: 20%;
    margin: 0 20px 0 20px;
    border-radius: 0;
    height: 3em;
    border: none;
    cursor: pointer;
    background-color: #006ac3;
    color: #fff;
}

.button:hover {
    background-color: #66A6DB;
}