.container {
    position: absolute;
    bottom: 120px;
    right: 50px;
    text-align: center;
    width: 1000px;
}

.button {
    width: 25%;
    margin: 0 20px 0 20px;
    border-radius: 0;
    height: 3em;
    border: none;
    cursor: pointer;
    background-color: #cc3333;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
}

.button:hover {
    background-color: #e08585;
}