.container {
    text-align: center;
}
.content {
    width: 100%;
    display: inline-block;
    text-align: left;
    padding-left: 50px;
    min-height: 24em;
    margin-bottom: 0;
}
.content p {
    text-align: left;
    padding: 0 80px 0 20px;
}
.content a {
    color: #172f6e;
    text-decoration: none;
}
.content a:hover {
    color: #45598b;
}

.item {
    margin-bottom: 20px;
}

.heading {
    cursor: pointer;
    margin-bottom: 4px;
}

.heading:hover {
    background: rgba(255,255,255, .4);
}

.button {
    margin: 0;
    padding: 0;
    color: #fff;
    font-size: 1.2em;
    font-weight: bold;
}

.chevron-right::before, .chevron-bottom::before {
    border-style: solid;
    border-width: 0.15em 0.15em 0 0;
    content: '';
    display: inline-block;
    height: 0.45em;
    left: 0.15em;
    position: relative;
    top: 0.3em;
    transform: rotate(-45deg);
    vertical-align: top;
    width: 0.45em;
    margin-right: 10px;
}

.chevron-right:before {
    left: 0;
    transform: rotate(45deg);
}

.chevron-bottom:before {
    top: .3em;
    transform: rotate(135deg);
}







/*RESPONSIVE STYLES*/
@media screen and (max-width: 480px) {
    .content {
        min-height: 0;
        padding-left: 10px;
    }
    .content p {
        text-align: left;
        padding: 0 20px 0 20px;
    }
    .button {
        font-size: .9em;
    }
    .chevron-right::before {
        top: .4em;
    }
}