.landscape h1, .landscape h2, .landscape h3, .landscape p, .landscape th, .landscape td {
    color: #4F515A;
}
.landscape {
    height: 100%;
    min-height: 100vh;
}

.header {
    display: block;
    text-align: center;
    padding-top: 10vh;
}
.header h2 {
    color: #C74200;
    margin: 0;
    padding: 0 0 10px 0;
}
p.description {
    padding: 0;
    margin: auto;
    margin-bottom: 10px;
    width: 80%;
    color:  #696C78;
}
.header-content {
    max-width: 1200px;
    margin: auto;
}


.heading-wrapper {
    width: 15%;
    padding: 0;
    text-align: center;
    margin: 1%;
    display: inline-block;
    vertical-align: top;
}

.heading {
    background-color: #ff8144;
    cursor: pointer;
    border: 1px solid #C74200;
    color: #fff;
}
.heading h3, .heading p {
    color: #fff;
    font-size: 1em;
    padding-bottom: 0;
}
.heading h3 {
    font-size: 1.2em;
}
.heading-img {
    width: 50px;
}


.heading:hover {
    opacity: .6;
}

.active-heading {
    background-color: #C74200;
    border: 1px solid #ff8144;
    padding: 0;
}
.active-heading:hover {
    opacity: 1;
}


.chevron-down::before {
    border-style: solid;
    border-width: 0.2em 0.2em 0 0;
    content: '';
    display: inline-block;
    height: 2.2em;
    width: 2.2em;
    position: relative;
    top: 0;
    transform: rotate(-45deg);
    vertical-align: top;
    margin: 0;
    color: #ff8144;
}
.chevron-down:before {
    transform: rotate(135deg);
}



.button {
    margin: 0;
    padding: 20px 0;
    color: #333;
}



.landscape-content {
    padding: 0 0 60px 0;
}
.landscape-content h1 {
    padding-bottom: 0;
}
.landscape-content p {
    padding-top: 0;
    text-align: left;
}

.landscape table {
    width: 900px;
    margin: auto;
    border-collapse: collapse;
}
.landscape th, .landscape td {
    border: none;
    padding: 24px 8px;
    border-spacing: 0;
    font-size: 1.1em;
    text-align: left;
}
.landscape th {
    color: #C74200;
    padding-bottom: 16px;
    font-weight: 500;
    font-size: 1.2em;
}
.landscape td {
    border-bottom: 1px solid #C74200;
    position: relative;
}
.landscape tr:hover {
    opacity: .7;
}
.landscape td:hover {
    cursor: pointer;
}








/*RESPONSIVE STYLES*/
@media screen and (max-width: 1280px) {
    .heading-img {
        width: 30px;
    }
    .heading {
        min-height: 12em;
    }
}


@media screen and (max-width: 1024px) {
    .landscape table {
        width: 90%;
        margin: auto;
    }
}


@media screen and (max-width: 980px) {
    .heading-img {
        width: 20px;
    }
    .heading {
        min-height: 10em;
    }
    .heading h3 {
        font-size: 1em;
        padding-top: 0;
    }
    .heading p {
        font-size: .8em;
        padding-top: 0;
    }
}


@media screen and (max-width: 780px) {
    .heading-img {
        width: 20px;
    }
    .heading-wrapper {
        display: inline-block;
        width: 30%;
    }
    .heading {
        min-height: 7.3em;
    }
    .landscape table {
        font-size: .8em;
    }
    .chevron-down {
        display: none;
    }
}


@media screen and (max-width: 480px) {
    .heading-wrapper {
        width: 100%;
        padding: 0;
        text-align: center;
        display: block;
        vertical-align: top;
    }
    .chevron-down {
        display: none;
    }
    .heading-img-wrapper {
        display: none;
    }
    .heading {
        cursor: pointer;
        color: #fff;
        padding: 0;
        width: 80%;
        margin: auto;
        min-height: 0;
    }
    .active-heading {
        border: 2px solid #fff;
    }
    .heading h3 {
        color: #fff;
        font-size: .9em;
        padding: 0;
        margin-top: 0;
    }
    .heading p {
        display: none;
    }
    .button {
        padding: 0;
    }

    .landscape table {
        width: 90%;
        margin: auto;
    }
    .landscape th, .landscape td {
        padding: 4px;
        font-size: .8em;
    }
}