.landscape h1, .landscape h2, .landscape h3, .landscape p, .landscape th, .landscape td {
    color: #172f6e;
}
.landscape {
    background-color: #f2f8fb;
    height: 100%;
}

.header {
    display: block;
    text-align: center;
    background-color: #ff8144;
    padding-bottom: 20px;
}
.header h2 {
    color: #fff;
    margin: 0;
    padding: 20px 0 0 0;
}
.header-content {
    max-width: 1200px;
    margin: auto;
}

.heading-wrapper {
    width: 15%;
    padding: 0;
    text-align: center;
    margin: 1%;
    display: inline-block;
    vertical-align: top;
}

.heading {
    cursor: pointer;
    border: 2px solid #fff;
    color: #fff;
    padding: 2px 0;
}
.heading h3, .heading p {
    color: #fff;
    font-size: 1em;
    padding-bottom: 0;
}
.heading h3 {
    font-size: 1.2em;
}
.heading-img {
    width: 50px;
}


.heading:hover {
    opacity: .6;
}

.active-heading {
    background-color: #bf6133;
    border: 4px solid #fff;
    padding: 0;
}
.active-heading:hover {
    opacity: 1;
}


.chevron-down::before {
    border-style: solid;
    border-width: 0.2em 0.2em 0 0;
    content: '';
    display: inline-block;
    height: 0.75em;
    position: relative;
    top: 0.3em;
    transform: rotate(-45deg);
    vertical-align: top;
    width: 0.75em;
    margin: 0;
    color: #fff;
}
.chevron-down:before {
    transform: rotate(135deg);
}



.button {
    margin: 0;
    padding: 20px 0;
    color: #333;
}



.landscape-content {
    padding-top: 40px;
    max-width: 1000px;
    margin: auto;
}
.landscape-content h1 {
    padding-bottom: 0;
}
.landscape-content p {
    padding-top: 0;
}

.landscape table {
    width: 1000px;
    margin: auto;
    border-collapse: collapse;
}
.landscape th {
    background-color: #afb6ba;
    font-weight: bold;
}
.landscape th, .landscape td {
    border: 1px solid #7482a8;
    padding: 4px 8px;
    border-spacing: 0;
    text-align: left;
}
.landscape tr:hover {
    background-color: #e9f3f8;
}
.landscape td:hover {
    cursor: pointer;
}


