/*GLOBAL*/
html, body {
  #scroll-snap-points-y: repeat(100vh);
  #scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  overscroll-behavior: none;
}
body {
  margin: 0px;
}
h1 {
  text-align: center;
  padding: 10px;
  margin: 0px;
  color: #fff;
  text-transform: uppercase;
  font-size: 3.6em;
  font-weight: 300;
}
h2 {
  text-align: center;
  padding: 10px;
  margin: 0px;
  color: #fff;
  text-transform: uppercase;
  font-size: 2.6em;
  font-weight: 300;
}
h3 {
  text-align: center;
  padding: 10px;
  margin: 0px;
  color: #fff;
}
p {
  text-align: center;
  padding: 10px;
  margin: 0;
  color: #fff;
  font-size: 1.2em;
}
a {
  color: #112353;
}
a:hover {
  color: #7482a8;
}
.logo {
  position: absolute;
  top: 30px;
  left: 30px;
  width: 100px;
}
.container {
  margin: auto;
  width:  100%;
  font-family: 'freight-sans-pro', 'Source Sans Pro', sans-serif;
}
.panel {
  width: 100%;
  height: 100%;
  text-align: center;
  scroll-snap-align: start;
  position: relative;
}
.flex-panel {
  height: 100%;
  min-height: 100vh;
}
.clear-fix {
  display: block;
  clear: both;
  padding-bottom: 1.4em;
}






/*TOP CONTENT*/
.top-content-wrapper {
  min-height: 100vh;
}
.top-content {
  float: right;
  width: 50%;
  margin-top: 8vh;
  padding-right: 30px;
}
.top-content h1 {
  padding-bottom: 0;
}
.top-content h2 {
  padding-top: 0;
}
.top-content h3 {
  margin: 60px 0 0 0;
}
.top-content p {
  text-align: justify;
}






/*SECOND PANEL*/
.small-panel {
  height: 100%;
}
.building-content {
  background-color: #e9f3f8;
  height: 100%;
  padding: 10vh 0 12vh 0;
}
.building-content h1, .building-content h2, .building-content h3, .building-content p {
  color: #172f6e;
}
.building-content h3 {
  font-size: 1.6em;
}
.columnWrapper {
  width: 100%;
  margin-top: 20px;
}
.columnContent {
  min-height: 10em;
}
.column {
  display: inline-block;
  width: 20%;
  vertical-align: top;
  background-color: #fff;
  margin: 20px;
  padding: 2%;
  box-shadow: 0 5px 10px rgb(154 160 185 / 5%), 0 5px 40px rgb(166 173 201 / 20%);
}






/*BOTTOM CONTENT*/
.bottom-content-wrapper {
  min-height: 100vh;
  height: 100%;
}
.bottom-content {
  float: right;
  padding: 3% 5% 0 0;
  max-width: 900px;
  margin: auto;
  text-align: left;
}
.bottom-content h2, .bottom-content p {
  text-align: left;
}
.signup-button {
    width: 200px;
    margin: 10px 0 0 10px;
    border-radius: 0;
    height: 3em;
    font-size: 1em;
    border: 3px #ff8144 solid;
    border-radius: .5em;
    cursor: pointer;
    background-color: #ff8144;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
}
.signup-button:hover {
    background-color: transparent;
}
.footer {
  position: absolute;
  bottom: 10px;
  width: 100%;
}
.footer p {
  font-size: 1em;
}
.footer a {
  color: #fff;
  text-decoration: none;
}
.footer a:hover {
  cursor: pointer;
  color: #afb6ba;
}





/*NAV BUTTONS*/
.nav-wrapper {
  position: absolute;
  bottom: 12px;
  right: 15px;
}
.chevron-wrapper {
  background-color: #006ac3;
  padding: 9px;
  border-radius: 20px;
  margin-bottom: 8px;
}
.chevron-wrapper:hover {
  opacity: .7;
}
.chevron-down::before, .chevron-up::before {
    border-style: solid;
    border-width: 0.15em 0.15em 0 0;
    content: '';
    display: block;
    height: 0.75em;
    position: relative;
    top: 0.2em;
    transform: rotate(-45deg);
    vertical-align: top;
    width: 0.75em;
    margin: 0;
    color: #fff;
}
.chevron-down:before {
    top: -0.15em;
    transform: rotate(135deg);
}







/*RESPONSIVE STYLES*/
@media screen and (max-width: 1280px) {
  html, body {
    overflow-x: hidden;
  }
  h1 {
    font-size: 3em;
  }
  h2 {
    font-size: 2.2em;
  }
  h3 {
    font-size: 1.2em;
  }
  p {
    font-size: 1em;
  }
  .building-content h3 {
    font-size: 1.2em;
  }
  .columnContent {
    min-height: 12em;
  }
  .bottom-content {
    width: 80%;
  }
}




@media screen and (max-width: 1024px) {
  /*SECOND PANEL*/
  .building-content h3 {
    font-size: 1em;
  }
  .building-content p {
    font-size: .9em;
  }
}





@media screen and (max-width: 780px) {
  html, body {
    overflow-x: hidden;
  }
  h1 {
    font-size: 2.4em;
  }
  h2 {
    font-size: 1.8em;
  }
  h3 {
    font-size: 1em;
  }
  p {
    font-size: .9em;
  }

  /*SECOND PANEL*/
  .building-content h3 {
    font-size: 1.2em;
  }
  .columnContent {
    min-height: 0;
  }
  .column {
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  /*BOTTOM CONTENT*/
  .footer p {
    font-size: .8em;
  }
  .bottom-content h2 {
    text-align: center;
  }
  .bottom-content {
    padding-bottom: 2em;
  }
}




@media screen and (max-width: 640px) {
  .top-content {
    width: 60%;
    margin-top: 4vh;
  }
}




@media screen and (max-width: 480px) {
  html, body {
    overflow-x: hidden;
  }
  h1 {
    font-size: 1.8em;
  }
  h2 {
    font-size: 1.6em;
  }
  h3 {
    font-size: 1.2em;
  }
  p {
    font-size: .8em;
  }
  .nav-wrapper {
    display: none;
  }
  .flex-panel {
    min-height: 0;
  }

  /*TOP CONTENT*/
  .logo {
    width: 40px;
    left: 10px;
    top: 10px;
  }
  .top-content-wrapper {
    min-height: 0;
  }
  .top-content {
    width: auto;
    margin: 0;
    float: none;
    padding: 20px;
    background-color: rgba(0, 0, 0, .4);
  }

  /*SECOND PANEL*/
  .building-content h3 {
    font-size: 1.2em;
  }
  .columnContent {
    min-height: 0;
  }
  .column {
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  /*BOTTOM CONTENT*/
  .signup-section, .signup-section p {
    text-align: center;
  }
  .signup-button {
      width: 120px;
      margin: 10px 0 0 10px;
      border-radius: 0;
      height: 2.6em;
      font-size: .8em;
      border: 3px #ff8144 solid;
      border-radius: .5em;
      cursor: pointer;
      background-color: #ff8144;
      color: #fff;
      text-transform: uppercase;
      font-weight: bold;
  }
  .bottom-content {
    float: none;
    padding: 0;
  }
}
























